<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("BTA-Logo.png", class: "img-responsive") %>
  <% end %>
</div>

<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li <% if @body_class == "about-page" %>class="active"<% end %>>
      <%= link_to "About", about_path %>
    </li>

    <li <% if @body_class == "works-page" %>class="active"<% end %>>
        <%= link_to "How it works", how_it_works_path, class: "active"  %>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li <% if @body_class == "translate-page" %>class="active"<% end %>>
      <%= link_to "Translate", translate_path %></li>
    <% end %>

    <li <% if @body_class == "sign-up-page" %>class="active"<% end %>>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "active"  %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "active"  %>
      <% end %>
    </li>
  </ul><!--/.navbar-nav -->
</div><!--/.nav-collapse -->

