<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag(source='favicon.ico') %>

    <title>TranslateAssistant</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="layout-jumbotron">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <%= render partial: '/layouts/navbar' %>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
   <% if @jumbotron %><div class="jumbotron"><% end %>
      <div class="container">
        <%= yield %>
      </div>
    <% if @jumbotron %></div><% end %>

    <div class="container">
      <footer>
        <ul class="footer-list">
          <li><span class="glyphicon glyphicon-home"></span><a href="https://goo.gl/maps/d3Mzd248Few"><span class="footer-text">3624 Texas Trail, Hurst, TX 76054</span></a></li>
          <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:3864024299"><span class="footer-text">386-402-4299</span></a></li>
          <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:Tod.Allman@TheBibleTranslatorsAssistant.org" class="footer-text">Tod.Allman@TheBibleTranslatorsAssistant.org</span></a></li>
        </ul>
        <p class="copyright">&copy; The Bible Translator's Assistant <%= Date.today.strftime("%Y") %></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>


